@charset 'UTF-8';

body {
  margin: 0;
  padding: 0;
  background-color: orangered;
}

// body {
//   margin: 0;
//   padding: 0;
//   background-color: whitesmoke;
// }

main {
  height: 100vh;
  text-align: center;
  // background-color: whitesmoke;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
// main {
//   height: 100vh;
//   text-align: center;
//   background: wheat;
//   padding: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }
